@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700');

* {
    margin: 20px;
    padding: 0px;
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 34px;
}
table {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
th {
    background: #AFCDE7;
    color: white;
    padding: 5px 20px;
}
td:first-child {
    padding: 5px 20px;
}
th,
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: #D8E6F3;
    padding-left: 5px;
    padding-right: 5px;
}
th:first-child,
td:first-child {
    text-align: center;
}